/* запит до всіх об'єктів */
*{
    /* color: blue; */
}
/* запит до тега h1 */
h1{
    /* color: aqua; */
}
/* запит до всіх div на сторінці */
div{
    /* color: yellow; */
}
/* запит до всіх ссилок на сторінці */
a{
    /* color: red; */
}
/* запит до усіх тегів з класом uefa на сторінці */
.uefa{
    /* color: red; */
}
/* запит до усіх тегів з ідентифікатором zorya на сторінці */
#zorya{
    /* color: blueviolet; */
}
/* запит до усіх тегів div з класом shakhtar */
div.shakhtar{
    /* color: brown; */
}
/* запит до всіх тегів p з батьківським тегом div  */
div p{
    /* color: green; */
}
/* запит до всіх об'єктів з класом uefa і milan одночасно */
.uefa,
.milan{
    /* color: yellow; */
}
/* запит до всіх тегів h2 які вкладені всередені об'єкту з класом zorya*/
.zorya > h2{
    color: purple;
}
/* звернення до всіх об'єктів з класами shakhtar і  ua-club одночасно */
.shakhtar.ua-club{
    /* color: red; */
}
/* звернення до усіх об'єктів з класом season які знаходяться в середені об'єктів з класами zorya */
.zorya .season{
    color: red;
}
/* звернення до усіх об'єктів в середені 
об'єктів з класом shakhtar  */
.shakhtar *{
color: green;
}
/* запит да усіх тегів p які знаходяться після об'єктів з класом text на одному рівні вкладеності  */
.text ~ p{
    color: blue;
}
/* запит до наступно тегу p який знаходиться далі по коду 
після об'єкту з класом tonali і мають один рівень вкладеності */
.tonali + p{
    color: aqua;
}